<title>Roomedy Invitation!</title>

<div class="jumbotron">
  <h1>Roomedy</h1>
  <h2>You've been invited to join a house!</h2>
  <h3>Name: <%= @house.name%> <br/>
    Invited by: 
    <%=
      begin
        @invitation.user.name
      rescue => ex
        "House is not currently owned."
      end
    %>
  </h3>
<% if logged_in? %>
    Accepting this will join you to the this house, and if you are already
    part of an house this is make you leave from your current house.
    <%= form_tag("", method: "get") do %>
      <%= hidden_field_tag(:accept, "true") %>
      <%= submit_tag("Accept Invitation",  class: "btn btn-primary")%>
    <% end %>
<% else %>
    <br/><p>
    Create a account! You'll automatically be added to your invitee's house 
    using the link below.</p>
    <div class="btn-group">
    <%= form_tag("/users/new", method: "get") do %>
      <%= hidden_field_tag(:invite, @invitation.token) %>
      <%= submit_tag("Create Account and Accept Invitation",  class: "btn btn-primary") %>
    <% end %>
    </div>
<% end %>
</div>