<%= form_for(@note) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :title, placeholder: "Note Title..." %>
    <%= f.text_area :content, placeholder: "Compose new Note..." %>
  </div>
  <% if u == 0 %>
    <%= render 'permission_new', f: f, :type => 0 %>
  <% else %>
    Edit User Permissions
    <%= render 'permission_edit', f: f, obj: @note, :type => 0 %>
    <%= f.hidden_field :lastEditedBy, value: current_user.id %>
  <% end %>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
