<% provide(:title, 'Noteboard') %>
<h1>Noteboard</h1>

	<%= will_paginate %>
	  	<% House.find(current_user.relationship.house_id).notes.each do |note| %>
				<% if note.permissions.find_by user_id: current_user.id %>
					<% perm = note.permissions.find_by user_id: current_user.id %>
				<% else %>
					<% perm = note.permissions.first %>
				<% end %>

				<% if perm.level < 4 %>
					<div class="col-md-4">
						<div class="message">
							<h3 class="message-title"><%= note.title %></h3>
							<%= link_to "view Note", note_path(note), class: "btn btn-custom" %>

						</div>
					</div>
				<% end %>
			<% end %>

	<%= will_paginate %>

</br>
<%= button_to "Create a Note", new_note_path, class: "btn btn-primary" %>
