<h1 class="center"><%= @house.name %></h1>
<div class="center"><%= @house.street %></div>
<div class="center"><%= @house.city %></div>
<div class="center"><%= @house.state %></div>
<div class="center"><%= @house.zip %></div>
<!-- Only shows the first user of the house using this syntax -->
<br/>
<% @house.users.each do |user| %>
    <div class="center"><%= user.name %></div>
<% end %>

<br/>
<h2>Invite other users!</h2>
<h3><%= request.base_url + "/invitation/"+ @house.id.to_s %></div></h3>

<%= form_for(@house) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<%= f.label :email %>
	<%= f.email_field :email, class: 'form-control' %>

	<%= f.submit "Send Invite Email", class: "btn btn-primary" %>
<% end %>