<h1 class="center"><%= @house.name %></h1>
<div class="center"><%= @house.street %></div>
<div class="center"><%= @house.city %></div>
<div class="center"><%= @house.state %></div>
<div class="center"><%= @house.zip %></div>