<h1 class="center"><%= @house.name %></h1>
<div class="center"><%= @house.street %></div>
<div class="center"><%= @house.city %></div>
<div class="center"><%= @house.state %></div>
<div class="center"><%= @house.zip %></div>
<!-- Only shows the first user of the house using this syntax -->
<br/>
<% @house.users.each do |user| %>
    <div class="center"><%= user.name %></div>
<% end %>