<%= form_for(@note) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new Note..." %>
  </div>
  <%= f.fields_for :permissions do |perm| %>
    <%= render 'permission_new', :f => perm %>
  <% end %>

  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
