<% provide(:title, 'Edit Note') %>
<h1>Edit Note</h1>

<%= form_for(@note) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <% @note.permissions.each do |perm| %>
    <%= perm.id %>
  <% end %>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
