<h1 class="center"><%= @user.name %></h1>
<div class="center"><%= @user.email %></div>
<div class="center"><%= @user.number %></div>
<div class="center"><%= @user.bornon %></div>
    <strong>Avatar:</strong>
    <%= image_tag @user.avatar.url(:medium) %>
<% if !@user.relationship.nil? %>
	<div class="center"><%= House.find_by(id: @user.relationship.house_id).name %></div>
<% end %>
<%= button_to "Edit Profile", edit_user_path(current_user) %>
