<% provide(:title, 'Edit Event') %>
<h1>Edit Event</h1>
<h2><%= @event.name %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(@event) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.input :start_time, :as => :datetime_picker %>

      <%= f.input :end_time, :as => :datetime_picker %>

      Edit User Permissions
      <%= render 'permission_edit', f: f, obj: @event, :type => 1 %>

      <%= f.submit "Update Event", class: "btn btn-primary" %>
    <% end %>
    <div class="center">
      <%= link_to "Delete", @event, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
    </div>
  </div>
</div>