<% provide(:title, 'Schedule') %>
<h1>Schedule</h1>

<div id="events">
	<h2 id="month">
		<%= link_to "<", date: @date.prev_month %>
		<%= @date.strftime("%B %Y") %>
		<%= link_to ">", date: @date.next_month %>
	</h2>
	<%= calendar @date do |date| %>
		<%= date.day %>
		<ul>
			<% @events.find_all{|event| event.start_time.to_date <= date && event.end_time.to_date >= date}.each do |event| %>
				<% if event.permissions.find_by user_id: current_user.id %>
					<% perm = event.permissions.find_by user_id: current_user.id %>
				<% else %>
					<% perm = event.permissions.find_by user_id: 0 %>
				<% end %>
				<% if perm.level == 0 || perm.level == 3 %>
					<li>
						<%= link_to event.name, edit_event_path(event) %>
					</li>
				<% end %>
			<% end %>
		</ul>
	<% end %>

	<h3>Pending Invites:</h3>
	<ul>
		<% @events.each do |event| %>
			<% if event.permissions.find_by user_id: current_user.id %>
				<% perm = event.permissions.find_by user_id: current_user.id %>
			<% else %>
				<% perm = event.permissions.find_by user_id: 0 %>
			<% end %>
			<% if perm.level == 1 %>
				<li>
					<%= event.name %><br/>
					<%= event.description %><br/>
					<%= event.start_time %><br/>
					<%= event.end_time %><br/>
					<%= link_to "Reply", edit_event_path(event) %>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>

<%= button_to "Create an Event", new_event_path, class: "btn btn-primary" %>
<%= button_to "Export Calendar", export_event_path, class: "btn btn-primary" %>
<%= button_to "Import a Calendar", import_event_path, class: "btn btn-primary" %>