<p id="notice"><%= notice %></p>

<h1>Listing Transactions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Price</th>
      <th>Buyer</th>
      <th>Seller</th>
      <th>Recurring</th>
      <th>Reason</th>
      <th>Date due</th>
      <th>Date paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
    <% if transaction.price < 0 %>
    <tr class="warning">
      <% else %>
      <tr class="success">
        <% end %>

        <td><%= transaction.price %></td>
        <td><%= transaction.buyer %></td>
        <td><%= transaction.seller %></td>
        <td><%= transaction.recurring %></td>
        <td><%= transaction.reason %></td>
        <td><%= transaction.date_due %></td>
        <td><%= transaction.date_paid %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Net Income</th>
      <th>Net Outcome</th>
      <th>Net Balance</th>
      <th colspan="3"</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="success"><%= current_user.finance.net_income %></td>
        <td class="warning"><%= current_user.finance.net_expenses %></td>
        <% if current_user.finance.net_balance < 0 %>
          <td class="warning"><%= current_user.finance.net_balance %>
        <% else %>
          <td class="success"><%= current_user.finance.net_balance %>
        <% end %>
      </tr>
    </tbody>
  </table>
<%= link_to 'New Transaction', new_transaction_path, class: "btn btn-primary" %>
