
<body>
  <nav class="header">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <%= link_to "Roomey", root_path, class: "navbar_brand" %>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="login_links">
        <% if logged_in? %>
          <% if !current_user.relationship.nil? %>
            <%= link_to "House", House.find(current_user.relationship.house_id), class: "btn btn-house" %>
            <%= link_to "Inventory", items_path, class: "btn btn-inventory" %>
            <%= link_to "Financial", financial_path, class: "btn btn-financial" %>
            <%= link_to "Noteboard", notes_path, class: "btn btn-noteboard" %>
            <%= link_to "Schedule", events_path, class: "btn btn-schedule" %>
            <!--<%= image_tag current_user.avatar.url(:medium), class: "round-image-50" %>
            <%= link_to current_user.name, current_user, class: "btn btn-profile"%>-->
            <button class="btn btn-profile dropdown-toggle" type="button" data-toggle="dropdown"><%= link_to current_user.name, current_user, class: "dropdown-font"%>
              <%= image_tag current_user.avatar.url(:medium), class: "round-image-50" %>
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
              </ul>
              <%= link_to "Notifications", activities_path, class: "btn btn-schedule" %>
            <!--<%= link_to "Log out", logout_path, class: "btn btn-sigout", method: "delete" %>-->
          <% else %>
            <%= link_to "Create a House", new_house_path, class: "btn btn-profile" %>

            <button class="btn btn-profile dropdown-toggle" type="button" data-toggle="dropdown"><%= link_to current_user.name, current_user, class: "dropdown-font"%>
              <%= image_tag current_user.avatar.url(:medium), class: "round-image-50" %>
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
              </ul>
          <% end %>
        <% else %>
          <%= link_to "Login",  login_path, class: "btn btn-login" %>
          or
          <%= link_to "Sign Up", new_user_path, class: "btn btn-sigout" %>
        <% end %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</body>
