
  <!DOCTYPE html>
<html>
<head>
  <title>Roomedy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag Sync.adapter_javascript_url %>
  <%= javascript_include_tag :defaults, "http://localhost:9292/faye.js" %>

  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<% if logged_in? %>

<% else %>
<% end %>

<body>

  <!--<div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>-->
    <%= yield %>
  <!--</div>-->
</body>

</html>
